/* Mood and periods styles */
.period {
    display: flex;
    justify-content: start;
}
.mood {
    display: flex;
    justify-content: center;
    .mood-event {
        img {
            width: 25px;
        }
    }
}