// primary
$pinkish: #fffcfb;
$sienna: #bd6a56;
$shadow: rgba(87, 36, 3, 0.8);
$white: #fff;
$peach: #ee9477;
$initial-shadow: 0px 0px 5px rgba(24, 18, 14, 0.8);
$final-shadow: 0px 0px 20px rgba(253, 158, 104, 0.8);

